$color-white: #FFFFFF;
$color-black: #000000;
$color-text: #040316;
$color-background: #fffff0;
$color-primary: #00606b;
$color-secondary: #f5f5db;
$color-accent: #191971;
$color-dark-text: #fffff0;
$color-dark-background: #191971;
$color-dark-primary: #00606b;
$color-dark-secondary: #8d4485;
$color-dark-accent: #f5f5db;
$color-dark-accent-green: #80FF00;
$color-error-border: #F41A1A;
$color-error-background: #F98A8A;
$color-gray-text-disabled: #A7A7AD;
$color-gray-text: #979797;
$color-gray-background: #d5d5d5;
$color-gray-primary: #767676;
$color-gray-secondary: #dedede;
$color-gray-accent: #5b5b5b;